<div class='log-form' id='login-form'>

  <h1>Login</h1>

  <form action="/auth/login" method="POST" class='form'>
    <label for="username" class='form-text'>Username:</label>
    <input type="text" name="username" class="search-bar">

    <label for="password" class='form-text'>Password:</label>
    <input type="password" name="password" class="search-bar">

    <button type="submit" class='searchbar-btn'>Login</button>
  </form>

  {{#if errorMessage}}
  <p>{{errorMessage}}</p>
  {{/if}}

</div>