<div class='log-form' id='signin-form'>

    <h1>Sign Up</h1>

    <form action="/auth/signup" method="POST" class='form'>
        <label for="username" class='form-text'>Username:</label>
        <input required type="text" name="username" class="search-bar">
        <label for="email" class='form-text'>Email:</label>
        <input required type="text" name="email" class="search-bar">
        <label for="password" class='form-text'>Password:</label>
        <input required type="password" name="password" class="search-bar">
        <button type="submit" class='searchbar-btn'>Sign up</button>
    </form>

    {{#if errorMessage}}
    <p>{{errorMessage}}</p>
    {{/if}}

</div>