<div class="search-user">
    <form action="/public/search" method="GET">
        <input type="text" name="search" placeholder="User search..." class="search-bar" value="{{search}}">
        <button type='submit' class='searchbar-btn'>Search</button>
    </form>
</div>