<div class="card user-card">
  {{!-- <img src='{{this.image}}' alt='user-image'> --}}
  <img src='/images/ork-icon.png' alt='user-image'>
  <div>
    <a href="/public/profile/{{this._id}}">
      <h4>{{this.username}}</h4>
    </a>
  </div>
</div>