<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <nav class='nav-bar topbar'>
    <a href='/'><img src="/images/home-icon.png" alt="home-button" class="home-btn"></a>
    <div class="search-game">
      <form action="public/searchGame" method="GET">
        <input type="text" name="search" placeholder="Game search...">
        <button type='submit'>Search</button>
      </form>
    </div>
    {{#if isAuthenticated}}
    <ul class='yes-login'>
      <li>
        <a href='/public/profile'>Profile</a>
      </li>
      <li>
        <a href='/auth/logout'>Logout</a>
      </li>
    </ul>
    {{else}}
    <ul class='no-login'>
      <li>
        <a href='/auth/login'>Log in</a>
      </li>
      <li>
        <a href='/auth/signup'>Sign up</a>
      </li>
    </ul>
    {{/if}}
  </nav>
  <header class='link-bar topbar'>
    <ul>
      <li class="menubtn">
        <div class="dropdown">
          <button class="dropbtn">Search Game</button>
          <div class="dropdown-content">
            <a href="/public/searchGameResult/rate">Popular games</a>
            <a href="/public/searchGameResult/kids">Play with kids</a>
            <a href="/public">Search by number of players</a>
            <a href="#">Search by game duration</a>
          </div>
        </div>
      </li>
      <li class="menubtn">
        <div class="dropdown">
          <button class="dropbtn">Need ideas?</button>
          <div class="dropdown-content">
            <a href="/public/searchGameResult/random">From all our database</a>
            <a href="/private/searchGameResult/ownrandom">Only from my list</a>
          </div>
        </div>
      </li>
      <li class="menubtn"><a href="#">My collection</a></li>
      <li class="menubtn"><a href="#">My wishlist</a></li>
      <li class="menubtn"><a href="/public/searchUserResult">Search user</a></li>
    </ul>
  </header>

  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>

</html>