@import url(https://allfont.net/allfont.css?fonts=agency-fb);

body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  height: 100%;
  width: 100%;
  font-family: "Agency FB", arial;
  font-size: 14px;
  background-color: #6d6d6d;
}

/* ****NAVBAR**** */

.topbar {
  width: 100%;
  height: 6.5vh;
  margin: 0 auto;
}

.topbar a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.nav-bar {
  background-color: #ff3d00;
  display: flex;
  justify-content: space-evenly;
  position: relative;
}

.home-btn {
  height: 85%;
  margin-left: 20px;
  margin-top: 4px;
}

.nav-bar .search-game {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search-bar {
  width: 30vw;
  margin-right: 10px;
  border: 2px solid lavender;
  border-radius: 5px;
  padding: 3px;
}

.searchbar-btn {
  background-color: #f9683a;
  border-radius: 10px;
  border-radius: 5px;
  text-decoration: none;
  padding: 5px;
}

.nav-bar ul {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 2vw;
}

.nav-bar li {
  list-style: none;
  text-align: center;
  padding-left: 20px;
}

.link-bar {
  background-color: #212121;
}

.link-bar ul {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  margin: 0;
  align-items: center;
}

.dropdown {
  overflow: hidden;
  float: left;
}

.dropdown .dropbtn,
.menubtn a {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 2vh 1vw;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.menubtn {
  list-style: none;
}

.link-bar a:hover,
.dropdown:hover .dropbtn {
  background-color: #ff3d00;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #484848;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f9683a;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* ****INDEX**** */

#index {
  display: flex;
  flex-direction: column;
}

.index-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2%;
  padding: 0;
}
.logo {
  max-height: 35vh;
  width: auto;
}
.index-header art {
  width: 50%;
}

h1 {
  margin: 0 5% 5vh;
  font-size: 4em;
}

p {
  margin: 0 0 0 5%;
  font-size: 1.3em;
}

.index-menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}

.index-menu > a {
  width: 20%;
  margin: 2.5%;
  margin-top: 0;
  text-decoration: none;
}

.index-btn-content,
.user-btn-content {
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 2px 2px 10px 0 #1b1b1b;
  padding: 2%;
  margin: 5px 5% 0 5%;
  background-color: #bf360c;
}

h3 {
  text-align: center;
  font-size: 2.4em;
  margin: 5px 0;
  color: black;
}

.index-btn-content img {
  max-width: 100%;
}

/* ****LOGIN**** */

.log-form {
  flex-direction: column;
  display: flex;
  align-items: center;
  width: 100%;
}

.log-form h1 {
  margin: 40px;
  margin-bottom: 60px;
}

.log-form .search-bar {
  width: 30%;
}

.form-text {
  font-size: 16px;
  font-weight: bold;
}

/* ****SIGNIN & EDIT PROFILE**** */
#signin-form .form,
#edit-form .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

#signin-form .search-bar,
#edit-form .search-bar {
  margin: 5px 0 10px 0;
}

/* ****GAME CARDS**** */

.card {
  text-align: center;
  border: 3px solid black;
  box-sizing: border-box;
  box-shadow: 2px 2px 10px 0 #1b1b1b;
  margin: 10px;
  width: 18%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
}

.card-image {
  background-color: white;
}

.card img {
  max-height: 250px;
}

.card-description {
  background-color: #c30000;
  padding-bottom: 10px;
  padding-top: 0px;
  color: white;
  font-size: 10px;
  width: 100%;
}

h5 {
  font-size: 18px;
  margin: 3%;
  color: white;
}

.card-description a {
  text-decoration: none;
}

.card-description p {
  font-size: 14px;
}

.searchpage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* ****GAME SEARCH**** */

.show-game-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#game-list .search-game {
  margin-bottom: 40px;
}

.show-game-list h1,
.personal-list h1,
#search-users h1,
#user-page h1 {
  margin-top: 20px;
}

.btn-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  margin-left: -40px;
  margin-bottom: 50px;
}

.sp-search-btn {
  color: black;
  font-size: 20px;
  box-sizing: border-box;
  border: 2px solid black;
  box-shadow: 2px 2px 10px 0 #1b1b1b;
  margin: 20px;
  width: 25%;
  background-color: #bf360c;
  border-radius: 10px;
  text-decoration: none;
  padding: 5px;
}

.insert-partial {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* ****PERSONAL LISTS**** */
.personal-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-content {
  background-color: #c30000;
}

.delete-btn {
  color: black;
  box-sizing: border-box;
  border: 2px solid black;
  box-shadow: 2px 2px 10px 0 #1b1b1b;
  background-color: #bf360c;
  border-radius: 10px;
  text-decoration: none;
  margin-bottom: 10px;
  font-family: inherit;
  font-size: 18px;
}

/* ****USER SEARCH & PAGES**** */

#search-users,
#user-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-user {
  margin-bottom: 50px;
}

.user-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #bf360c;
}

.user-card img {
  max-width: 50px;
  padding: 0 20px;
}

.user-card a {
  text-decoration: none;
}

h4 {
  font-size: 20px;
  color: white;
}

.user-menu {
  display: flex;
  flex-direction: row;
}

.user-menu > a {
  text-decoration: none;
  font-size: 30px;
  margin: 50px;
  color: black;
  text-align: center;
}
