<div id='collection-page' class='personal-list'>
    <h1>Collection</h1>
    <div class='insert-partial'>
        {{#each results}}
        {{> gameCollectionCard}}
        {{/each}}
    </div>

</div>