<h1>Profile</h1>

<h2>{{user.username}}'s Profile</h2>
<a href="/public/ownedGames">{{user.username}}'s collection</a>
<a href="/public/wishlist/{{user._id}}">{{user.username}}'s wishlist</a>
{{#if owner}}
<a href="/private/edit-profile">Edit your Profile</a>
{{/if}}