<div id='search-by-player' class='show-game-list'>
    <h1>Search by number of players</h1>
    <ul class='btn-list'>
        <li><a href="/public/searchGameResult/numOfPLayers2" class='sp-search-btn'>2 players</a></li>
        <li><a href="/public/searchGameResult/numOfPLayers4" class='sp-search-btn'>Up to 4 players</a></li>
        <li><a href="/public/searchGameResult/numOfPLayers6" class='sp-search-btn'>Up to 6 players</a></li>
        <li><a href="/public/searchGameResult/numOfPLayers8" class='sp-search-btn'>Up to 8 players</a></li>
    </ul>
    <div class='insert-partial'>
        {{#if games}}
        {{#each games}}
        {{> gameCard}}
        {{/each}}
        {{/if}}
    </div>
</div>