<h1>Search players</h1>

<ul>
    <li><a href="/public/searchGameResult/numOfPLayers2">2 players</a></li>
    <li><a href="/public/searchGameResult/numOfPLayers4">up to 4 Payers</a></li>
    <li><a href="/public/searchGameResult/numOfPLayers6">up to 6 Players</a></li>
    <li><a href="/public/searchGameResult/numOfPLayers8">up to 8 players</a></li>
</ul>

{{#if games}}
    {{#each games}}
    {{> gameCard}}
    {{/each}}
{{/if}}