<div id='search-users'>
    <h1>User search</h1>
    <div>
        {{> searchForm}}
    </div>
    <div class='searchpage insert-partial'>
        {{#each users}}
        {{> userCard}}
        {{/each}}
    </div>
</div>