<h1>Search players</h1>

<form action="/public/searchGameResult/numOfPLayers2" method="POST">
  <input type="number" name="max_players">


  <input type="password" name="password">

  <button type="submit">Login</button>
</form>