<div id='game-list' class='show-game-list'>
    <h1>Search results</h1>
    <div class="search-game">
        <form action="searchGame" method="GET">
            <input type="text" name="search" placeholder="Game search..." class="search-bar">
            <button type='submit' class='searchbar-btn'>Search</button>
        </form>
    </div>
    <div class='searchpage'>
        {{#each games}}
        {{> gameCard}}
        {{/each}}
    </div>
</div>